<router-outlet></router-outlet>
<!-- <app-sidebar></app-sidebar> -->
<div class="main-wrapper d-flex">
  <aside class="sidebar bg-white p-4">
    <div>
      <figure>
        <img src="assets/image/logo-dark.svg" alt="Logo-Image" />
      </figure>
      <ul class="list-unstyled mb-0 mt-4">
        <li
          role="button"
          class="d-flex align-items-center py-2 my-1 px-3 column-gap-2 active"
        >
          <span class="material-symbols-outlined">home</span> Home
        </li>
        <li
          role="button"
          class="d-flex align-items-center py-2 my-1 px-3 column-gap-2"
        >
          <span class="material-symbols-outlined">business_center</span> Jobs
        </li>
        <li
          role="button"
          class="d-flex align-items-center py-2 my-1 px-3 column-gap-2"
        >
          <span class="material-symbols-outlined">notifications</span> Inbox
        </li>

        <hr class="my-1" />
        <small class="px-3">More</small>

        <li
          role="button"
          class="d-flex align-items-center py-2 my-1 px-3 column-gap-2"
        >
          <span class="material-symbols-outlined">bolt</span>
          <span>Auto Apply</span>
          <span class="ms-auto"
            ><label class="switch">
              <input type="checkbox" checked />
              <span class="slider round"></span> </label
          ></span>
        </li>
        <li
          role="button"
          class="d-flex align-items-center py-2 my-1 px-3 column-gap-2"
        >
          <span class="material-symbols-outlined">hotel_class</span>
          <span>AI Resume</span>
          <span class="text-center add-new ms-auto text-white">New</span>
        </li>
        <li
          role="button"
          class="d-flex align-items-center py-2 my-1 px-3 column-gap-2"
        >
          <span class="material-symbols-outlined"
            >featured_seasonal_and_gifts</span
          >
          Refer & earn Rs50,000
        </li>
      </ul>
    </div>
    <hr class="mt-2" />
    <div class="">
      <label for="cat's" class="my-2"> Names: </label>
      <div class="search-bar d-flex">
        <span class="material-symbols-outlined search-icon p-2" role="button">
          search
        </span>
        <select name="name" id="cat's" role="button">
          <optgroup label="Group-1">
            <option value="rim">Rim</option>
            <option value="Kittu">Kittu</option>
            <option value="munu">Munu</option>
            <option value="gora">Gora</option>
          </optgroup>
          <optgroup label="Group-2">
            <option value="jhim">Jhim</option>
            <option value="sittu">Sittu</option>
            <option value="gunu">Gunu</option>
            <option value="bhura">Bhura</option>
          </optgroup>
        </select>
        <span
          class="material-symbols-outlined voice-icon pe-2 d-flex align-items-center"
          role="button"
        >
          mic
        </span>
      </div>
    </div>

    <hr class="mt-4" />
    <div class="sppiner my-4 mx-auto"></div>
  </aside>

  <main class="main-section flex-grow-1">
    <div class="container p-4 mx-auto">
      <h2 class="fw-bolder text-center">
        Welcome, <span class="text-gradient">Aditi</span>
      </h2>

      <div class="detail-card bg-white p-4 rounded">
        <div
          class="profile-details d-flex align-items-center justify-content-between"
        >
          <div class="user d-flex align-items-center">
            <div class="loader">
              <img
                src="https://cdn.britannica.com/36/234736-050-4AC5B6D5/Scottish-fold-cat.jpg"
                width="81px"
                height="81px"
              />
            </div>
            <div class="heading">
              <h2 class="fw-bolder mb-0">Get hired firster!</h2>
              <p>
                You're halfway through the vetting process for job eligibility,
                and we're here to guide you through it.
              </p>
            </div>
          </div>

          <button>
            Finish Now<span class="material-symbols-outlined">
              arrow_right_alt
            </span>
          </button>
        </div>
        <div class="profile-descripstion d-flex justify-content-between pt-4">
          <div class="profile">
            <progress class="progress" value="100" max="100"></progress>
            <div class="d-flex pt-3">
              <span
                class="material-symbols-outlined text-success mt-2"
                role="button"
                >check_circle</span
              >
              <div class="px-2">
                <h3 class="mb-0 fw-bolder">Profile Completion</h3>
                <p>Build AI Powered Resume</p>
              </div>
            </div>
          </div>

          <div class="technical">
            <progress class="progress" value="30" max="100"></progress>
            <div class="d-flex pt-3">
              <span
                class="material-symbols-outlined text-success mt-2"
                role="button"
                >brightness_1</span
              >
              <div class="px-2">
                <h3 class="mb-0 fw-bolder">Technical Assessment</h3>
                <p>Our team will share on email</p>
              </div>
            </div>
          </div>

          <div class="auto-reply">
            <progress class="progress" value="0" max="100"></progress>
            <div class="d-flex pt-3">
              <span class="material-symbols-outlined mt-2" role="button"
                >work</span
              >
              <div class="px-2">
                <h3 class="mb-0 fw-bolder">Enable Auto Reply</h3>
                <p>Tech an tech Assessment</p>
              </div>
            </div>
          </div>

          <div class="hired">
            <progress class="progress" value="0" max="100"></progress>
            <div class="d-flex pt-3">
              <span class="material-symbols-outlined mt-2" role="button"
                >work</span
              >
              <div class="px-2">
                <h3 class="mb-0 fw-bolder">Get Hired</h3>
                <p>Get high paying take jobs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="job-description bg-white mt-4 rounded">
        <div class="d-flex justify-content-between p-3">
          <h3 class="fw-bolder mb-0 px-2 px-md-4">
            2300+ Jobs in Spotlight this Month!
          </h3>
          <button class="mx-4">
            See All Jobs<span class="material-symbols-outlined">
              arrow_right_alt
            </span>
          </button>
        </div>

        <div
          class="developer-details d-flex p-3 justify-content-center justify-content-xl-between"
        >
          <div class="dev-Ops rounded p-3">
            <div class="d-flex">
              <span
                class="material-symbols-outlined book-icon text-center"
                role="button"
              >
                library_books
              </span>
              <div class="px-2">
                <h4 class="fw-bolder mb-0">devOps Enjineer</h4>
                <p>Remote</p>
              </div>
            </div>

            <span class="d-flex align-items-center pt-2"
              ><span class="material-symbols-outlined" role="button">
                currency_rupee
              </span>
              Undisclosed</span
            >
            <span class="d-flex align-items-center pt-2">
              <span class="material-symbols-outlined" role="button"> spa </span
              >Full Time Contract . 6 Months
            </span>
            <div class="extra-details mt-3">
              <span>Kubernetes</span>
              <span>devOps</span>
              <span>+2</span>
            </div>
          </div>
          <div class="python rounded p-3">
            <div class="d-flex">
              <span
                class="material-symbols-outlined book-icon text-center"
                role="button"
              >
                library_books
              </span>
              <div class="px-2">
                <h4 class="fw-bolder mb-0">Python Devloper</h4>
                <p>On-Site</p>
              </div>
            </div>

            <span class="d-flex align-items-center pt-2"
              ><span class="material-symbols-outlined" role="button">
                currency_rupee
              </span>
              35-40 Lacs P.A.</span
            >
            <span class="d-flex align-items-center pt-2">
              <span class="material-symbols-outlined" role="button"> spa </span
              >Full Time . Permanent
            </span>
            <div class="extra-details mt-3">
              <span>Kubernetes</span>
              <span>devOps</span>
              <span>+2</span>
            </div>
          </div>
          <div class="mobile rounded p-3">
            <div class="d-flex">
              <span
                class="material-symbols-outlined book-icon text-center"
                role="button"
              >
                library_books
              </span>
              <div class="px-2">
                <h4 class="fw-bolder mb-0">Mobile Developer</h4>
                <p>On-Site</p>
              </div>
            </div>

            <span class="d-flex align-items-center pt-2"
              ><span class="material-symbols-outlined" role="button">
                currency_rupee
              </span>
              35-40 Lacs P.A.</span
            >
            <span class="d-flex align-items-center pt-2">
              <span class="material-symbols-outlined" role="button"> spa </span
              >Full Time . Permanent
            </span>
            <div class="extra-details mt-3">
              <span>Kubernetes</span>
              <span>devOps</span>
              <span>+2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
